.shopItem {
	padding: 0.625rem 1.25rem;
	border: 1px solid black;
	border-radius: 0.625rem;
	margin-bottom: 0.4375rem;
	cursor: pointer;
	transition: background-color .3s;
}
.shopItem:last-child {
	margin-bottom: 0;
}
.shopItem:hover {
	background-color: rgba(var(--border-c), .5);
}