.productWrapper {
	display: flex;
	align-items: center;
	gap: 20px;
	flex: 1 1 auto;
	justify-content: flex-start;
}
.productWrapper p {
	flex: 1 1 auto;
}
.productWrapper span {
	flex: 1 1 auto;
	max-width: max-content;
}
.productDescription {
	max-width: 400px;
}
.productAmount {
	max-width: 3.75rem;
	flex: 1 1 auto;
	background-color: #F4E96E;
	padding: .3rem .4rem;
	border-radius: 0.3125rem;
	text-align: center;
}
.deleteProductButton {
	flex: 1 1 auto;
	max-width: 7%;
	background: none;
	font-size: 1.2rem;
	padding: 0 .43rem .23rem 0.43rem;
	border-radius: 0.3125rem;
	background-color: rgb(242, 125, 114);
}