.myLink {
   position: relative;
   transition: color 0.3s;
   color: #F4E96E;
   font-size: 1.2rem;
}
.myLink::after {
   content: '';
   background-color: currentColor;
   position: absolute;
   transition: width 0.2s;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   width: 0%;
   height: 5%;
}
.myLink:hover:after {
   width: 100%;
}


/* ================================== Active ================================== */
.myLink.active {
   color: white;
}
.myLink.active:hover:after {
   display: none;
}