.cartPageContainer {
	margin-top: 7rem;
}
.mainContentWrapper {
	display: grid;
	grid-template-columns: 65% 30%;
	justify-content: space-between;
}
.productsSectionWrapper {
	width: 100%;
	height: max-content;
}
