.myInput {
   min-width: 100%;
   padding: 10px;
   background-color: #efce9045;
   border: 1px solid rgb(var(--main-text-c));
   border-radius: 5px;
}

.myInput {
   outline: transparent;
}

.myInput:focus:valid,
.text:valid {
   border-color: #0f0;
   box-shadow: 0px 0px 5px 1px rgba(0, 255, 0, 0.642);
   background-color: transparent;
}

.myInput:focus:invalid {
   border-color: #f00;
   box-shadow: 0px 0px 5px 1px rgba(255, 0, 0, 0.503);
   background: transparent;
}